//
// Abstracts :: Variables
//


// Color

$color-white: #fff;
$color-alabaster: #fafafa;
$color-grey: #333;
$color-blue-chill: #138496;
$color-suva-grey: #929292;
$color-text-grey: #767676;
$color-grey-light: #ccc;
$color-error: #d00;
$color-link: #0e106a;
$color-dusty-gray: #999;
$color-boulder: #777;
$color-alto: #ddd;
$color-black: #000;
$color-background-gray: #dedede;
$color-gallery: #eee;
$color-wild-blue-yonder: #8788b5;
$color-peppermint: #dff0d8;
$color-gray-light: #f7f7f7;
$color-mercury: #e7e7e7;
$color-spring-rain: #aca;
$color-primary: #0e357f;
$color-dark-white: #f6f6f6;
$color-orange: #ff6000;
$color-silver: #bfbfbf;
$color-gray: #e3e3e3;
$color-red: #db3333;
$silver-chalice: #aaa;
$color-french-gray: #bbbbbd;
$color-concrete: #f3f3f3;
$color-denim: #1b5ede;
$color-silver-chalice: #a4a4a4;
$color-iron: #e4e6e8;
$color-turquoise: #34E79A;
$color-cabaret: #d64c68;


// Media queries breakpoints

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;


// Z-index master list
// Warning: Avoid customizing these values. They're used for a bird's eye view

$zindex-fixed: 1030 !default;
$zindex-header: $zindex-fixed;
$zindex-menu-bar: $zindex-fixed;
