.details-container {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 60px auto;
}

.blog-details {
  min-width: 60%;

  &__body {
  }

  &__title {
    margin-bottom: 60px;
  }

  img {
    max-width: 100%;
  }
}

