.nav {
  right: 40px;
  position: fixed;
  float: right;
}

.nav-item {
  list-style-type: none;
  display: block;
  float: left;
  margin: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: transform .2s;
  font-size: 1.1rem;

  &:hover {
    transform: scale(1.3);
    opacity: .7;
  }

  span {
    color: #51050b;
  }
}
