.fr {
  margin-left: 80px;
  min-width: 300px;

  @include breakpoint(sm) {
    display: none;
  }

  &__title {
    border-bottom: 1px solid black;
    padding: 10px 0;
    font-size: 1.2em;
  }

  &__content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__img {
     object-fit: cover;
     width: 92px;
     height: 92px;
     margin-right: 10px
  }

  &__blog-title {

  }
}
