.title {
  align-items: center;
  display: flex;
  margin: 5px;
  z-index: 99;

  &__input {
    border: 0;
    font-size: 22px;
    margin: 8px;

    &:focus {
      border-bottom: 0;
      border-radius: 0;
      box-shadow: none;
      outline: 0;
    }

    &::placeholder {
      opacity: .5;
    }
  }

  &__save {
    height: 38px;
    margin-right: 16px;
  }

  &__back {
    height: 38px;
    margin-right: 5px;
  }

  &__saved-time {
    font-size: 1em;
    margin: 0 18px;
    opacity: .7;
    white-space: nowrap;
  }
}

.progress {
  background: $color-grey-light;
  height: 3.5px;

  &__bar {
    background: $color-blue-chill;
    height: 3.5px;
    left: 0;
    position: fixed;
    top: 0;
    transition: width .4s ease 0s;
    width: 50%;
  }
}
