.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: auto;
  height: 500px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__photo {
    height: 200px;
    width: 200px;
    margin: 20px;
  }
}
